/* Styles for container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Styles for tabs */
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .tab {
    padding: 15px 30px;
    background-color: #23022e;
    color: #eff8e2;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
    flex-grow: 1;
    text-align: center;
  }
  
  .tab.active {
    background-color: #573280;
  }
  
  .tab:hover {
    transform: scale(1.1);
  }
  
  .logout {
    background-color: #007bff;
  }
  
  .logout:hover {
    background-color: #0056b3;
  }
  
  /* Styles for card */
  .card {
    flex-grow: 1;
    background-color: #cecfc7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* Styles for content */
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #23022e;
  }
  
  p {
    margin-bottom: 10px;
    color: #23022e;
  }
  
  .blogs,
  .featured-works {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .blog,
  .work {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s;
  }
  
  .blog:hover,
  .work:hover {
    transform: scale(1.05);
  }
  
  .blog h4,
  .work h4 {
    margin-top: 0;
    color: #23022e;
  }
  
  .blog p,
  .work p {
    color: #23022e;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }